@page
@model LetsPartyProject.Pages.Teams.DetailsModel

@{ ViewData["Title"] = "Team Details"; }

<section id="sectionTeams" class="container">
    <header class="container mb-4">
        <div id="headerIndexPages" class="row align-middle">
            <div class="col-9">
                <h1>Team Details</h1>
            </div>
            <hr />
        </div>
    </header>
    <div id="formPages" class="row p-4">
        <div class="col">
            <div class="form-row">
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Team.TeamName)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Team.TeamName)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Team.QuantityMembers)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Team.QuantityMembers)
                    </dd>
                </dl>
            </div>
            <div class="form-group pt-4">
                <a class="btn btn-block btn-outline-warning" asp-page="./Edit" asp-route-id="@Model.Team.Id">Edit</a>
                <a class="btn btn-block btn-outline-info" asp-page="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>
